@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <ul>
        <li><a href="account/login">Sign In</a></li>
        <li><a href="account/register">Register</a></li>
    </ul>
    </div>
</body>
</html>
