<div class="panel panel-primary draw">
    <div class="panel-heading">
        <h3 class="panel-title">Draw</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-default canvas">
            <div class="panel-body">
                <canvas id="myCanvas" width="366" height="200"></canvas>
            </div>
        </div>

        <div class="actions-bar">
            <div class="tools">
                <div class="colors">
                    <div class="color white" ng-click="setColor('white')" ng-class="{ selected: color == 'white' }"></div>
                    <div class="color black" ng-click="setColor('black')" ng-class="{ selected: color == 'black' }"></div>
                    <div class="color red" ng-click="setColor('red')" ng-class="{ selected: color == 'red' }"></div>
                    <div class="color green" ng-click="setColor('green')" ng-class="{ selected: color == 'green' }"></div>
                    <div class="color blue" ng-click="setColor('blue')" ng-class="{ selected: color == 'blue' }"></div>
                    <div class="color yellow" ng-click="setColor('yellow')" ng-class="{ selected: color == 'yellow' }"></div>
                </div>

                <div class="line-widths">
                    <div class="line-width small" ng-click="setLineWidth(3)" ng-class="{ selected: lineWidth == 3 }">
                        <div></div>
                    </div>
                    <div class="line-width medium" ng-click="setLineWidth(5)" ng-class="{ selected: lineWidth == 5 }">
                        <div></div>
                    </div>
                    <div class="line-width large" ng-click="setLineWidth(7)" ng-class="{ selected: lineWidth == 7 }">
                        <div></div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="button" style="float: right" ng-click="clear()">Clear</button>
        </div>
    </div>
</div>
<div class="draw-button" ng-click="showHide()" ng-class="getDrawButtonClass()">
    Draw
</div>