<table class="board opponent-board" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td></td>
        <td>
            <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td class="letter">A</td>
                    <td class="letter">B</td>
                    <td class="letter">C</td>
                    <td class="letter">D</td>
                    <td class="letter">E</td>
                    <td class="letter">F</td>
                    <td class="letter">G</td>
                    <td class="letter">H</td>
                    <td class="letter">I</td>
                    <td class="letter">J</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="numbers">
            <table cellspacing="0" cellpadding="0" border="0">
                <tr><td class="number">1</td></tr>
                <tr><td class="number">2</td></tr>
                <tr><td class="number">3</td></tr>
                <tr><td class="number">4</td></tr>
                <tr><td class="number">5</td></tr>
                <tr><td class="number">6</td></tr>
                <tr><td class="number">7</td></tr>
                <tr><td class="number">8</td></tr>
                <tr><td class="number">9</td></tr>
                <tr><td class="number">10</td></tr>
            </table>
        </td>
        <td class="cells">
            <table>
                <tr ng-repeat="line in cells">
                    <td ng-repeat="cell in line" class="cell" ng-class="getCellClass(cell)" ng-click="onClick(cell)"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>